/* Animation de transparence de 0 % vers 100 % */
.fade-in {
  opacity: 0; /* Commencer invisible */
  animation: fadeInEffect 3s forwards;
}

@keyframes fadeInEffect {
  from {
    opacity: 0; /* 0 % opaque */
  }
  to {
    opacity: 1; /* 100 % opaque */
  }
}

/* Style des flèches */
.arrow {
    display: flex;
    align-items: center;
    animation: fadeInArrow 1s ease-in-out forwards;
}

.arrow-line {
    width: 0;
    height: 2px;
    background-color: #ffffff;
    animation: drawLine 1s ease-in-out forwards;
}

.arrow-text {
    margin-left: 10px;
    color: #ffffff;
    font-size: 0.8em; /* Taille similaire à h6 */
    opacity: 0;
    animation: fadeInText 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

/* Animation de la ligne de la flèche */
@keyframes drawLine {
    from { width: 0; }
    to { width: 50px; } /* Ajustez la longueur selon le besoin */
}

/* Animation de l'apparition du texte */
@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animation de l'apparition de la flèche */
@keyframes fadeInArrow {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.small-underline-text {
    font-size: 0.7em; /* Ajustez pour rendre le texte plus petit */
    text-decoration: underline;
    color: #ffffff; /* Assurez-vous que la couleur est visible */
}

.section-block {
    margin-bottom: 20px; /* Ajuste cet espace si nécessaire */
    padding-bottom: 10px; /* Espace intérieur en bas du bloc */
    border-bottom: 2px solid #ccc; /* Bordure grise en bas du bloc */
}

    .section-block h2 {
        margin: 0;
    }

    .section-block h5 {
        margin: 5px 0 0 0;
    }

/* Forcer les titres h1 en majuscules */
.reveal h1 {
    text-transform: uppercase !important;
}

/* Désactiver la transformation en majuscules pour les autres titres et textes */
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
    text-transform: none !important;
}

/* Forcer l'ajustement de la taille du texte */
.fit-text {
    display: block;
    font-size: calc(5vw + 1vh); /* Ajuste dynamiquement la taille */
    white-space: nowrap; /* Empêche les retours à la ligne */
    overflow: hidden;
    text-overflow: ellipsis; /* Coupe le texte s'il est trop long */
}

/* Pour que tous les titres s'adaptent */
.reveal h1 {
    font-size: calc(6vw + 1vh);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    padding: 10px;
}

    .image-container img {
        max-width: 100%;
        max-height: 85vh;
        object-fit: contain;
        display: block;
        margin: auto;
    }
